meta(charset='UTF-8')
meta(name='viewport', content='user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1')
link(type='text/css', rel='stylesheet', href='assets/css/style.css')
link(type='text/css', rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,700')
link(rel='icon', href='favicon.ico', type='image/x-icon')
// Facebook Metas
meta(property='og:url', content='http://sarcadass.github.io/granim.js')
meta(property='og:type', content='website')
meta(property='og:title', content='Granim.js')
meta(property='og:description', content='Create fluid and interactive gradients animations with this small (< 10kB) .js library')
meta(property='og:image', content='http://sarcadass.github.io/granim.js/assets/img/social-image.png')
// Twitter Metas
meta(property='twitter:card', content='summary_large_image')
meta(property='twitter:creator', content='@Sarcadass')
meta(property='twitter:title', content='Granim.js')
meta(property='twitter:description', content='Create fluid and interactive gradients animations with this small (< 10kB) .js library')
meta(property='twitter:image', content='http://sarcadass.github.io/granim.js/assets/img/social-image.png')
meta(property='twitter:image:width', content='1200')
meta(property='twitter:image:height', content='630')
